.day {
  width: 142px;
  height: 460px;
  background-color: #bed6c6;
  padding: 10px;
  float: left;
  margin-right: 7px;
  margin-bottom: 5px;
  border-radius: 20px;
  font-size: 18px;

}

.datelabel {
  margin-bottom: 22px;
  text-align: center;
}

.timeslot {
  background-color: rgb(250, 250, 245);
  width: auto;
  height: 37px;
  color: rgb(35, 26, 26);
  /* padding:7px; */
  margin-top: 7px;
  font-size: 17px;
  border-radius: 20px;
  vertical-align: center;
  text-align: center;
}

.timeslot:hover {
  background-color: #2CA893;
  cursor: pointer;
}

.colordivallcolor {
  width: 100%;
  margin-right: 5px;
}

.center {

  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 69%;
  height: 40px;
  margin-bottom: 5px;
  background-color: #2e4e49;
  color: white;
}

.centerdivAll {
  margin-top: 8px;

}

.container-fulldiv {
  height: 100vh;
  /* border: 2px solid #ff0000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colordivall {
  width: 30px;
  height: 40px;
  background-color: #bed6c6;
  border-radius: 50%;


}

.colorslot {
  background-color: #2e4e49;
  width: auto;
  height: 37px;
  color: white;
  padding: 7px;
  margin-top: 7px;
  font-size: 17px;
  border-radius: 20px;
  vertical-align: center;
  text-align: center;
}

.btnDivALL {
  width: 10%;
  height: 7%;
  margin-top: 5px;
  background-color: #2e4e49;
  color: white;
  border-radius: 25px;
}

/* ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }

  li {
    margin: 1.5em 0;
    padding: 0;
  }

  b {
    margin-right: 3px;
  } */

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 400px;
  line-height: 1.5;
  background: #a2c0cc;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.fc th {
  background-color: #2E4E49 !important;
  color: white !important;
}

.fc .fc-daygrid-day-frame {
  background-color: #BED6C6 !important;

}